<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684371942457-eufouoemamu4ubng6i8fab29irnmvhj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684371942457-eufouoemamu4ubng6i8fab29irnmvhj1</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Y04-zmhVi7OeIkSlP0tXvk6leS24YSY</string>
	<key>GCM_SENDER_ID</key>
	<string>684371942457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Natalia.Instagram</string>
	<key>PROJECT_ID</key>
	<string>myinstagram-fa27c</string>
	<key>STORAGE_BUCKET</key>
	<string>myinstagram-fa27c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684371942457:ios:d7fcef10d82d57fb3081e8</string>
</dict>
</plist>